<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicker Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div id="score">Score: 0</div>
    </header>
    <main>
        <div class="click-button" id="click-button" onclick="handleClick()">
            <span id="start-button-text" class="start-button-text">START</span>
        </div>
        <div class="level" id="level">Level 1</div>
    </main>
    <!-- <footer>
        <div class="menu">
            <button onclick="showTab('Store')">Store</button>
            <button onclick="showTab('Home')">Home</button>
            <button onclick="showTab('About')">About</button>
        </div>
    </footer> -->
    <script>
        let score = 0;
        let level = 1;
        let disabled = false;

        function handleClick() {
            const button = document.getElementById('click-button');
            const button_text = document.getElementById('start-button-text');

            // Увеличиваем очки
            if (!disabled) {
                score++;
                document.getElementById('score').textContent = `Score: ${score}`;
                
                // Деактивируем кнопку
                disabled = true;
                let remainingTime = 3;
                button_text.textContent = `${remainingTime} seconds`;
                
                // Таймер
                const interval = setInterval(() => {
                    remainingTime--;
                    button_text.textContent = `${remainingTime} seconds`;
                    if (remainingTime <= 0) {
                        clearInterval(interval);
                        disabled = false;
                        button_text.textContent = 'START';
                    }
                }, 1000);
                
                fetch('/update_score', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ score: score, level: level }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Score updated:', data);
                })
                .catch(error => {
                    console.error('Error updating score:', error);
                });
            }
        }
    </script>
</body>
</html>
