{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='upgrades.css') }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<header>
    <div>UPGRADES</div>
</header>
<main>
    <div class="upgrade-button">
        <div class="upgrade-icon"><i class="fas fa-home"></i></div>
        <span class="upgrade-text">Уменьшение времени таймера на 10%</span>
        <button class="upgrade-action">Улучшить</button>
    </div>
    <div class="upgrade-button">
        <div class="upgrade-icon yellow-border"><i class="fa-solid fa-bolt"></i></div>
    </div>
    <div class="upgrade-button">
        <div class="upgrade-icon pink-border"><i class="fa-solid fa-wand-magic-sparkles"></i></div>
    </div>
    <div class="upgrade-button">
        <div class="upgrade-icon green-border"><i class="fa-regular fa-heart"></i></div>
    </div>
    <div class="upgrade-button">
        <div class="upgrade-icon red-border"><i class="fa-solid fa-triangle-exclamation"></i></div>
    </div>
</main>

{% endblock %}

{% block scripts %}

<script>
    setTimeout(closePreloader, 700);

    function closePreloader() {
        document.querySelector('.preloader').style.display = 'none';
        document.querySelector('.content').style.display = 'block';
        document.querySelector('footer').style.display = 'block';
    }
</script>

{% endblock %}
