body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #11111b;
}

footer {
    width: 100%;
    background-color: #44475A;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.menu button:hover {
    color: #ffeb3b;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

/* Стиль для preloader'а */
.preloader {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

/* Анимация спиннера */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid lightgray;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Ключевые кадры для вращения */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
