header {
    margin-top: 3%;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.start-button-text {
    margin-left: 5px;
    font-size: 24px;
    letter-spacing: 5px;
    color: #8BE9FD;
    filter: drop-shadow(0 0 1px #8BE9FD)
}

.click-button {
    padding: 8px;
    background-color: #11111b;
    filter: drop-shadow(0 0 0.25rem #8BE9FD);
    border-radius: 13px;
    border-color: #8BE9FD;
    border: #8BE9FD solid 2px;
    cursor: pointer;
    transition: 200ms ease-in-out;
    transition-property: all;
    width: 90pt;
    text-align: center;
}

.click-button:hover {
    background-color: #1e1e2e;
    scale: 1.1;
}

.level {
    margin-top: 20px;
    font-size: 18px;
    color: #8BE9FD;
}
